body {
	margin: 0;
	padding: 0;
	/* Это задано только для тега body и не наследуется остальным тегам */
	font-family: Cuprum, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: black;
	text-transform: none;
	background-color: white;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
}

a {
	text-decoration: none;
}

header {
	width: auto;
	height: auto;
	background-color: #f3f7f9;
	padding-bottom: 60px;

}

/* Общие селекторы */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
	list-style: none;
	padding-left: 0px;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}


/* Пошла стилиация элементов */

.purchase-navigation-panel {
	background-color: #293449;
}

.purchase-navigation.container {
	display: flex;
	justify-content: space-between;
}

.header-button-logo {
	width: 220px;
	font-size: 25px;
	line-height: 25px;
	padding-top: 13px;
	text-align: center;
	color: #ffffff;
	background-color: #ee3643;
}

.header-search {
	width: 270px; /* Пока так, потом под паддинги поправлю */
}

.purchase-navigation li {
	width: 270px;
	display: inline; /* Отображать как строчный элемент */
}

.purchase-navigation a {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}


.info-panel {
}

.info-panel.container {
	padding-top: 40px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.info-panel-descriptor {
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: Cuprum-Italic, Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.info-panel-contacts {
	width: 300px;
}

a.info-panel-phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.info-panel-address {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.user-navigation.list {
	width: 300px;
}

.user-navigation li {
	font-size: 21px;
	line-height: 21px;
	display: inline; /* Отображать как строчный элемент */
	color: #000000;
}

.user-navigation a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.main-navigation {

}

.main-navigation.container {
	height: 60px; /* Пока так, потом под паддинги поправлю */
	display: flex;
	background-color: #293449;
}

.main-navigation.list li {
	display: inline; /* Отображать как строчный элемент */
}

.main-navigation.list a {
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #ffffff;
}


main {
	width: auto;
	height: auto;
	background-color: #ffffff; 

}


/* Плитка категорий */


section.items-category {
	margin-top: 60px;

}

.items-category {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-category {
	width: 248px;
	height: 75px;

	margin-bottom: 20px;

	padding-top: 26px;
	padding-bottom: 22px;
	padding-left: 24px;
	padding-right: 30px;

	background-color: #ffbf47;
}

.items-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  
  margin: 0px;
}


.items-category-slider {
	width: 620px;
	height: 266px;
	background-image: url(../img/1-slider.jpg);
}

p.slider-header {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
}


/* Популярные товары */


section.popular-items {
	margin-top: 50px;

}


.popular-items-header {
	width: 940px;
	height: 89px;
	background-color: #f9f5f0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

.popular-items.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-items.container div {
  width: 220px;
  height: 318px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
}


 /* Популярные бренды */


section.popular-brands {
	margin-top: 20px;

}


.popular-brands-header {
	width: 940px;
	height: 89px;
	background-color: #f9f5f0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;

}

.popular-brands.container {
}

.popular-brands.list {
	margin: 0px;
	padding: 0px;
	width: 940px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-brands.list li {
	display: block;
	width: 220px;
	height: 145px;
	background-color: #ffffff;
	border: solid 1px #eaeaea;
}

/* Сервисы */


section.services {
	margin-top: 85px;
}

.services {
	background-color: #f4f7f9;
}

/* О компании и контакты */

div.info.container {
	margin-top: 80px; 
	margin-bottom: 86px;
	display: flex;
	justify-content: space-between;
}

section.info-company {
	width: 540px;
}

section.contacts {
	width: 300px;
}


/* !!!!!!!!!!!!!!!!!!КАТАЛОГ!!!!!!!!!!!!!!!!!! */

.filter-items.container {
	width: 940px;
	display: flex;
	justify-content: space-between;
}

section.breadcrumbs {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}


.catalog-name {
	width: 940px;
	height: 89px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f9f5f0;
}

/* Фильтры */


/* Сортировка */

.sort.list li {
	display: inline;
}


/* Выдача товаров */

section.items {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.items div {
	width: 220px;
	height: 318px;
	background-color: #ffffff;
	border: solid 1px #eaeaea;
}

nav.pagination {
	width: 700px;
}


/* Сео-тексты */

section.seo-text {
	background-color: #f4f7f9;
	margin-top: 60px;
	margin-bottom: 0px;
}

.seo-text div {
	width: 940px;
	padding-top: 40px;
	padding-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
}




/* !!!!!!!!!!!!!!!!!!ФУТЕР!!!!!!!!!!!!!!!!!! */


.main-footer {
	background-color: #32425c;
}

.main-footer.container,
.info-footer.container {
	display: flex;
}

.footer-navigation-1.list li,
.footer-navigation-2.list li {
	display: inline;
}

.info-footer {
	background-color: #293449;
}



/* 
.info-panel-contacts {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
/* Пачиму не работает center??? Display block, блочному родителю задать. а строчный элемент.
	color: #ee3643;
}

.info-panel-address {
	font-size: 14px;
	line-height: 24px;
	text-align: center;

}

/* А вот здесь есть стилизация списка!
.info-company-list {
	list-style: none;
}

.purchase-navigation a,
.site-navigation a {
	color: #ffffff;
}

.purchase-navigation a:hover,
.purchase-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
	color: #293449;
}

.items-category div {
	background-color: #ffbf47;
}

.items-category p {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;
}

.items-category a {
	font-size: 14px;
	line-height: 17px;

	color: #ffffff;
}

.items-category-slider {
	background-image: url(../img/1-slider.jpg);
}

.slider-header {
	font-size: 36px;
	line-height: 36px;
}

/* Пачиму не работает для слайдера???

.slider-description {
	font-size: 18px;
	line-height: 24px;
}

h2 {
	font-size: 30px;
	line-height: 30px;

	color: #32425c;
}

a.button {
	color: #ffffff;
	background-color: #ee3643;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}


.old-price {
	font-family: PTSans;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;

	color: #a9a9a9;
}

.new-price {
	font-family: PTSans;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;

	color: #ffffff;

	background-color: #ee3643;
}

.services h2,
.info-company h2,
.contacts h2 {
	color: #000000;
}

.services h3 {
	font-size: 36px;
	line-height: 36px;

	color: #32425c;
}
