body {
	margin: 0;
	padding: 0;
	/* Это задано только для тега body и не наследуется остальным тегам */
	font-family: Cuprum, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: black;
	text-transform: none;
	background-color: white;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400px;
	text-transform: uppercase;

	color: #32425c;
	margin: 0px;
}

a {
	text-decoration: none;
}

header {
	width: auto;
	height: auto;
	background-color: #f3f7f9;
	padding-bottom: 60px;

}

/* Наведения на ссылки  */

.purchase-links a:hover {
	background-color: #161d29;
}

.main-nav a:hover {
	background-color: #293449;
}

.personal-links a:hover {
	color: #ee3643;
}

a.buy-link:hover {
	/* a. нужно, чтобы победить каскадность - иначе наследутся стили выше, как более редкие*/
	background-color: #518534;
}




/* Общие селекторы */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.red-button {
	width: 250px;
	height: 14px;
	text-align: center;

	border-radius: 4px;
	display: inline-block;

	padding-top: 13px;
	padding-bottom: 11px;

	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #ee3643;

}

.text13-24 {
	font-family: PTSans, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	width: 400px;
	margin-bottom: 26px;
}

.header-block {
	width: 886px;
	height: 38px;
	background-color: #f9f5f0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;

	padding-top: 25px;
	padding-left: 30px;
	padding-right: 24px;
	padding-bottom: 26px;

}


/* Пошла стилизация элементов */

.purchase-panel {
	background-color: #293449;
	/* Нужно, чтобы относительно него выровнять container c purchase-nav */
}

.purchase-nav.container {
	width: 940px;
	height: 42px;
	display: flex;
	flex-wrap: wrap;
}

.logo-button {
    width: 220px;
    padding-top: 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

/* Форма поиска */
.header-search {
	width: 270px; /* Пока так, потом под паддинги поправлю */
	background-color: #293449;
}

.purchase-links  {
	width: 450px;
	height: 42px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.purchase-links a {
	position: relative;
	display: block;
	vertical-align: middle;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 44px;
	padding-right: 22px;

	text-align: center;
}

a.buy-link {
	/* a. нужно, чтобы победить каскадность - иначе наследутся стили выше, как более редкие*/
	background-color: #63a63e;
	padding-left: 20px;
	padding-right: 22px;

}

.info-panel {
}

.info-panel.container {
	padding-top: 33px;
	padding-bottom: 24px;
	display: flex;
	justify-content: space-between;
}

.info-panel-descriptor {
	display: block;
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: Cuprum-Italic, Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.info-panel-contacts {
	width: 270px;
	padding-top: 12px;
	padding-right: 30px;
}

a.info-panel-phone {
	display: block;

	padding-top: 11px;
	padding-left: 70px;
	padding-right: 48px;
	padding-bottom: 10px;

	text-align: center;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: solid 3px #ffffff;
}

.info-panel-address {
	display: block;
	margin-top: 2px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.user-navigation {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	padding-top: 12px;
}

.login, .register {
	display: block;
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;

	padding-top: 12px;
	padding-left: 26px;
	padding-right: 26px;
	padding-bottom: 12px;

	text-align: center;

	margin-left: 10px;
}

.main-navigation {
	padding-left: 20px; /* Для этих кривых отступов по бокам */
	padding-right: 20px;
	background-color: #32425c;
}

.main-nav {
	display: flex;
	justify-content: space-between;
}

.main-nav a {
	display: block;
	vertical-align: middle;

	padding-top: 21px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 21px;

	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}



main {
	width: auto;
	height: auto;
	background-color: #ffffff; 

}


/* Плитка категорий */


section.items-category {
	margin-top: 58px;

}

.items-category {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-category {
	width: 248px;
	height: 75px;

	margin-bottom: 20px;

	padding-top: 22px;
	padding-bottom: 26px;
	padding-left: 24px;
	padding-right: 30px;

	background-color: #ffbf47;
}

.items-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  
  margin: 0px;
}


.items-category-slider {
	width: 572px;
	height: 218px;

	padding-top: 26px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 22px;

	background-image: url(../img/1-slider.jpg);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

p.slider-header {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;

  margin: 0px;
}

p.slider-description {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400px;
  color: #ffffff;

  margin-top: 2px;
  margin-left: 0px; 
  margin-right: 0px;
  margin-bottom: 0px;
}

.slider.red-button {
	width: 195px;
}




.item-category.tools {
	background-color: #3bbce3;
}

.item-category.equipment {
	background-color: #dc91d8;
}

.item-category.sale {
	background-color: #8ed78f;
}

.items-category-button {
	width: 136px;
	height: 14px;
	text-align: center;

	border-radius: 4px;
	display: inline-block;

	padding-top: 13px;
	padding-bottom: 11px;
	margin-top: 10px;

	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: rgba(0, 0, 0, 0.1);

}

/* Популярные товары */


section.popular-items {
	margin-top: 34px;

}

.popular-items.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header-block h2 {
	line-height: 38px;
}


 /* Популярные бренды */


section.popular-brands {
	margin-top: 20px;

}

.popular-brands.container {
}

.popular-brands.list {
	margin: 0px;
	padding: 0px;
	width: 940px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-brands.list li {
	display: block;
	width: 220px;
	height: 128px;
	margin-top: 20px;
	background-color: #ffffff;
	border: solid 1px #eaeaea;
	text-align: center;

	padding-top: 17px;
}

.logo-link a {

}

/* Сервисы 

- Есть проблема - если не задавать фиксированную высоту в помеченных местах -
то абсолютно позиционированные элементы не влезают в контейнер и обезаются.
Но тут задавать высоту фиксированно бы не хотелось, контент - то может меняться! */


section.services {
	margin-top: 85px;
	background-color: #f4f7f9;
	padding-top: 64px;
	padding-bottom: 100px;
}

.services.container {
	width: 940px;
 /* height: 522px; Можно зафиксировать */
	display: flex;
	flex-wrap: wrap;

}

div.services.header {
	width: 940px;
/* 	height: 96px; Можно зафиксировать */
}

.services.header h2 {
	color: #000000;
}

ul.tab {
	font-size: 20px;
	line-height: 20px;
	font-weight: 700px;
	color: #ffffff;
	width: 240px;
    margin: 0;
    background-color: #32425c;
}

.tab li {
	height: 20px;
	padding-top: 20px;
	padding-bottom: 22px;
	padding-left: 22px;
	padding-right: 30px;

	border: 1px solid #4d637b;
	margin-bottom: -1px;
}

.tabs-content {
	width: 300px;
	margin-left: 80px;
	position: relative;
	overflow: hidden;
}

.tab-content {
	width: 300px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f4f7f9;
}

.tab-content.active {

}

.tab-content h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
	margin-top: 0px; /* А если текста будет больше, то кнопка обрежется */
}



/* О компании и контакты */

div.info.container {
	margin-top: 80px; 
	margin-bottom: 86px;
	display: flex;
	justify-content: space-between;
}

section.info-company {
	width: 540px;
}

section.contacts {
	width: 300px;
}

.info-company {
	position: relative;
	margin: 11px 0px 34px 36px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 40px;
}

.info-company li {
	position: relative;
}


.info-company li::before {
	display: block;
	content: ""; /* Я хз как но это работает)) */
	position: absolute;
	left: -36px;
	top: 19px;
	width: 25px;
	height: 2px;
	background: #fb565a;
}





/* !!!!!!!!!!!!!!!!!!КАТАЛОГ!!!!!!!!!!!!!!!!!! */


.personal-links {
	display: flex;
	justify-content: flex-start;
	margin-top: 8px;
}

.personal-links a {
	display: block;

	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;

	padding-left: 18px;
	padding-right: 18px;

	color: #32425c;

}

.customer-name {
	display: block;
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;

	padding-top: 12px;
	padding-left: 44px;
	padding-right: 70px;
	padding-bottom: 12px;
}

section.breadcrumbs {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: flex;

	margin-top: 14px;
}

.breadcrumbs.list {
	width: 360px;
	height: 20px;
}

.breadcrumbs.list li {
	font-family: PTSans, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;


	display: inline;
}


.catalog-name {
	background-color: #f2f6f8;
	margin-top: 14px;
}



/* Сетка */

.for-flex.container {
	width: 940px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-for-filter {
	display: flex;
	flex-wrap: wrap;
	width: 220px;

}

.for-flex-left-zone {
	width: 700px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

fieldset {
	width: 220px; /* Почему ширина не работает? */
	border: 0px;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
}

legend {
	font-family: PTSans, Arial, sans-serif;
	font-size: 18px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;

}

section.sort {
	width: 664px;
	height: 18px;

	background-color: #f7f3ec;

	padding-top: 10px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 10px;

	border-radius: 4px;

	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	display: flex;
	justify-content: space-between;
}

.sort h3 {
	font-family: PTSans, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	margin: 0px;
}

.sort.list {
	margin: 0px;
}

.sort.list li {
	display: inline;
}

.filter h3 {
	width: 184px;
	height: 18px;

	font-family: PTSans, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #f7f3ec;

	padding-top: 10px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 10px;

	border-radius: 4px;

	margin-top: 20px;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
}

/* Стилизация фильтра */

.range-controls {
	position: relative;
	display: block;
	height: 80px;
	margin: 14px 0 10px;
	padding: 0 30px;
	overflow: hidden;
	background-color: #f7f3ec;
	border-radius: 3px
}
.scale {
	height: 2px;
	margin-top: 39px;
	background: #d7dcde;

}

.bar {
	width: 70%;
	height: 2px;
	margin-top: 39px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .min-toggle {
	left: 20px
}

.range-controls .max-toggle {
	left: 140px
}

.price-range {
	display: flex;
	margin-bottom: 26px;
}

.price-min,
.price-max {
    width: 85px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    text-align: center;

    padding: 6px;

    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.price-range p {
	margin-left: 10px;
	margin-right: 10px;
}

.filter-brand {
    margin-bottom: 20px;
    padding-left: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    /* Не работает трансформ, но в браузере видно */
}







/* Сетка блока, где карточки товаров */

.item-cards {
	width: 700px;
	display: flex;
	flex-wrap: wrap;

	margin-top: 20px;
}





/* Чтобы пагинация была внизу */

nav.pagination {
	width: 700px;
}

/* Содержимое карточки товара */

.item-card {
	position: relative;
	display: inline-block;

	line-height:20px;
    font-weight:bold;
    text-align:center;

	width:218px;
	margin-top: 0px;
	margin-left: 0px;
    margin-right:20px;
    margin-bottom:20px;

    border:1px solid #ccc;
}

.item-cards .item-card:nth-child(3n) {
	margin-right: 0px; 
}

/* Поправка для главной страницы, где 4 в ряд */
.popular-items .item-card {
	margin-top: 20px;
	margin-right: 0px; 
}

.item-card h3 {
	font-family: PTSans, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;


	min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}

.new-price {
	font-family: PTSans, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;

	position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;

    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;


    color:white;
    background:#ee3643;
    border-radius:3px;
}

.new-price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.old-price {
	font-family: PTSans, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;

	min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.item-card .actions{
    position: absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.item-card .actions .buy,
.item-card .actions .bookmark{
    display: block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;

    color: #ffffff;
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}

.item-card .actions .bookmark {
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.item-card .actions{
    display:none;
}
.item-card:hover .actions {
    display: block;
}

.pagination {
  margin: 0;
  padding: 10px 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination li {
  min-width: 20px;
  display: inline-block;
  text-align: center;
  padding-left: 5px;
}

.pagination li:first-child {
  padding-left: 0;
}

.pagination-button {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-button:hover {
  border: 1px solid #bdc6ca;
}

.pagination-button.active {
  color: #ffffff;
  background: #ee3643;
  border-style: inset;
  border: none;
  border: 1px solid #ee3643;
}



/* Сео-тексты */

section.seo-text {
	background-color: #f4f7f9;
	margin-top: 60px;
	margin-bottom: 0px;
}

.seo-text div {
	width: 940px;
	padding-top: 40px;
	padding-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
}




/* !!!!!!!!!!!!!!!!!!ФУТЕР!!!!!!!!!!!!!!!!!! */

.main-footer {
	background-color: #32425c;
}

.footer-flex {
	display: flex;
	flex-wrap: wrap;
}

.footer-group-f,
.footer-group-s {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	justify-content: space-between;
}

.footer-nav-f,
.footer-nav-s {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.footer-group-s {
	margin-top: 36px;
	margin-bottom: 50px;
}

.footer-logo {
	display: flex;
	flex-wrap: wrap;
}

.footer-logo-button {
    width: 220px;
    padding-top: 18px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.footer-nav-f a {
	display: block;
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;

	padding-top: 40px;
	padding-bottom: 2px;
	padding-left: 60px;
}

.footer-description {
	font-size: 18px;
	line-height: 22px;
	width: 320px;
	color: #ffffff;
}

.footer-nav-s a {
	display: block;
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;

	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 60px;

	color: #ffd180;
}


.info-footer {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.info-footer-flex {
	display: flex;
	padding-top: 38px;
	padding-bottom: 30px;
	
}

.footer-copyright {
	padding-right: 70px;
	margin-right: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.social-buttons {

}

.social {
	display: flex;
	justify-content: space-between;

	padding-right: 120px;
}

.social-button {
	display: inline-block;
	vertical-align: top;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 50%;
	background: #212A3A;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	margin-right: 4px;
}

.email-feedback,
.developed-by {
	margin: 0px;
}


.email-feedback a,
.developed-by a {
	color: #ffd180;
}


.social-button .vk {
	background: #212A3A url("../icons/s-vk-icon.svg") no-repeat -2px -55px;
}



